body {
    font-family: sans-serif;
    background: #f4f2f7;
}

 nav {
    background: #57427b;
    height: 8vh;
    width: 100vw;
}

.nav_links {
    display: flex;
    list-style: none;
    width: 60%; 
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav_links li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

.hero_background {
    background-image: url("../images/chris-j-davis-PT_9ux0j-x4-unsplash.jpg");
    width: 100vw;
    height: calc(100vh - 8vh);
    /* display: block; */
    opacity: 0.8;
    margin-bottom: 55px;
    background-size: cover;
}

.hero_background_form {
    /* position: relative; */
    background-image: url("../images/chris-j-davis-PT_9ux0j-x4-unsplash.jpg");
    width: 100%;
    height: calc(100vh - 8vh);
    /* display: block; */
    opacity: 0.6;
    /* margin-bottom: 55px; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand_div {
    position: relative;
    margin-top: 30%;
    height: 50%;
    width: 100%;
    /* justify-content: center; */
    
}

h1.brand_mods {
    position: absolute;
    text-align: center;
    font-size: 6vh;
    top: 50%;
    left: 40%;
    /* display: flex; */
    align-items: center;
    color: #b9bfcf;
    text-shadow: 5px 1px 5px #5d2c2b;
    font-family: 'Press Start 2P', cursive;
    
}


p.job_title {
    position: absolute;
    margin: 0;
    text-align: center;
    display: inline;
    font-size: 2vh;
    font-family: 'Press Start 2P', cursive;
    top: 70%;
    left: 45%;
    z-index: 1;
    color: #b9bfcf;
    text-shadow: 5px 1px 5px #5d2c2b
    /* height: 12em; */
}
/* media query below for front page text */
@media screen and (max-width: 768px) {
    h1.brand_mods {
        font-size: 4vh;
        text-align: center;
    }

    p.job_title {
        font-size: 2vh;
        text-align: center;
    }
}

/* Ok so this is the animated hamburger menu*/

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: whitesmoke;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav_links {
        position: fixed;
        background: #3B2F4F;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 1;
    }

    .nav_links li a {
        font-size: 3rem;
        display: inline-block;
        margin: 0.5em 0;

    }

    .nav_links.open {
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
    }

}


/* This is the end of the  hamburger mods  */

/* Start of the form css */

.cont_mods {
    width: auto;
    height: 800px;
}
.contact_title {
    /* margin-top: 100px; */
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact_title h1 {
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2 {
    font-size: 16px;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form_control {
    width: 600px;
    background: whitesmoke;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    display: block;
}



input {
    height: 45px;
}

form .submit {
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

}

form .submit:hover {
    background-color: #f44336;
    cursor: pointer;
}

/*
 End of the form css ^^^ */

.main_bg {
    background: whitesmoke;
    width: 100%;
    height:;
    background-size: contain;
    opacity: 0.6;

}

.profile_pic {
    height: 100%;
    width: 200px;
    align-items: center;
}

.work_mods {
    margin-bottom: 50px;
}


.work_mods_two{
    margin-top: 75px
}

h2.line_header {
    width: 100%; 
    text-align:center; 
    border-bottom: 5px groove #7B95D5; 
    line-height:0.1em; 
    margin:25px 0 20px;
    font-size: 35px;
}

h2 span {
    background:#f4f2f7;
    padding:0 10px; 
    }

/* If the screen size is 480px wide or less, set the font-size of <div> to 30px (below is some media queries that fix the figure images squashing together)*/

@media screen and (max-width: 480px) {
    h2.line_header {
      font-size: 20px;
    }
    .column_space {
      margin-bottom: 60px;
    }
  }    

  @media (min-width: 576px) {
    .column_space {
        margin-bottom: 60px;
    }
  }

.imghvr-shutter-out-diag-2 img {
    height: 300px;
    width: 300px;
    background-size: inherit;
}

    /* footer section */

    .bottom_mods{
        background: #57427b;
        width: auto;
        height: auto;
    }

.wrapper {
    width: auto;
    margin: 70px auto;
}

.sin_team {
    width: 70%;
    float: left;
    margin: 15px;
    box-shadow: 0 2px 20px rgba(0,0,0,0.8);
    padding: 15px;
    color: #fff;
    background: transparent; 
    border-radius: 5px 20px 5px;
}

.sin_team img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: left;
    margin: 40px 20px 30px 0;
    border: 5px solid #fff;
    object-fit: cover;
}
/* mobile breakpoints for profile image below */

@media screen and (max-width: 480px) {
    .sin_team img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        float: left;
        margin: 40px 20px 30px 0;
        border: 5px solid #fff;
        object-fit: cover;
    }
}


/* ^^^ end of mobile breakpoints for profile image */
.sin_team h3 {
    font-size: 20px;
    font-family: 'Carter One', cursive;
    text-shadow: 5px 1px 5px #5d2c2b;
}


.handle_div {
    margin-bottom: 40px;
    background: transparent;
    box-shadow: 0 2px 20px rgba(0,0,0,0.8); 
    border-radius: 5px 20px 5px;
}

.handle_div img {
    float: left;
    padding: 5px 5px 0px 8px;
    /* align-items: center; */
}

.handle_div img a {
    padding: 0px 0px 0px 10px;
    display: inline-block;
}

.handle_div p {
    margin: 6px 0px 0px 0px;
    color: #DFD9E8;
    text-shadow: 5px 1px 5px #5d2c2b;
    padding: 0px 8px 8px 8px;
    text-align: center;

}

.handle_div a {
    font-family: 'Carter One', cursive;
    margin-left: 8px;
    font-size: 24px;
    text-align: center;
    color: #DFD9E8;
    text-shadow: 5px 1px 5px #5d2c2b;
}